# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules/

# Optional npm cache directory
.npm/

# Optional eslint cache
.eslintcache

# Build output
dist
build
out

# dotenv environment variables file
.env

# IDE and editor files
.idea/
.vscode/
*.swp
*.swo
*.swn

# Tests
coverage
.nyc_output